---

import { db, Host } from 'astro:db';




export async function getStaticPaths() {
const hosts = await db.select().from(Host);
  return hosts.map(({name})=>({params: {hostname: name}}))
  
}
const { hostname } = Astro.params;
---
<div>Good dog, {hostname}!</div>
<label>Your Message: 
<textarea></textarea></label>